<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MessLogin</servlet-name>
        <servlet-class>MessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessRegistration</servlet-name>
        <servlet-class>MessRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApnaMess</servlet-name>
        <servlet-class>ApnaMess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegister</servlet-name>
        <servlet-class>AdminRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimplePlate</servlet-name>
        <servlet-class>SimplePlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeleteList</servlet-name>
        <servlet-class>OrderDeleteList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OList</servlet-name>
        <servlet-class>OList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Email</servlet-name>
        <servlet-class>Emaill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Location</servlet-name>
        <servlet-class>Locations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlateDetails</servlet-name>
        <servlet-class>PlateDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDetailsCheck</servlet-name>
        <servlet-class>PDetailsCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessLogin</servlet-name>
        <url-pattern>/MessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessRegistration</servlet-name>
        <url-pattern>/MessRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApnaMess</servlet-name>
        <url-pattern>/ApnaMess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegister</servlet-name>
        <url-pattern>/AdminRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimplePlate</servlet-name>
        <url-pattern>/SimplePlate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeleteList</servlet-name>
        <url-pattern>/OrderDeleteList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OList</servlet-name>
        <url-pattern>/OList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Email</servlet-name>
        <url-pattern>/Email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Location</servlet-name>
        <url-pattern>/Location</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlateDetails</servlet-name>
        <url-pattern>/PlateDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDetailsCheck</servlet-name>
        <url-pattern>/PDetailsCheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
